.informativo{
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    text-align: center;
}


.about{
    color: var(--cor-secundaria);
    font-size: 16px;
    font-family: var(--fonte);
    font-weight:600;
}

.subtitulo{
    color: #101828;
    font-size: 48px;
    padding: .2em;
    font-family: var(--fonte);
    font-weight:600;

}

.paragrafo{
    color: var(--cor-textos);
    font-size: 20px;
    font-family: var(--fonte);
    font-weight: normal;
    margin: 0 auto;
    max-width: 800px;
}

.descritivo{
    display: flex;
    justify-content: center;
    margin: 5em 0 5em 0;
   

   
}

.item{
    text-align:start;
   padding: 1em;
   width: 100%;
}

.qnt{
    font-size: 60px;
    font-weight: 600;
    font-family: var(--fonte);
    color: var(--cor-secundaria);
    margin-bottom: 15px;
}

.subtiitulo-descritivo{
    font-family: var(--fonte);
    font-size: 18px;
    font-weight: 500;
    color: #101828;
    margin-bottom: .5em;

}

.paragrafo-descritivo{
    font-family: var(--fonte);
    font-size: 16px;
    color: var(--cor-textos);
    max-width: 300px;
}

.secao-vagas{
    display: flex;
    align-items: center;
    padding: 1em;
    flex-direction: column;
    gap: 10px;
}

.informativo-vagas{
    font-family: var(--fonte);
    font-size: 14px;
    font-weight: 500;
    color: var(--cor-secundaria);
    border-radius: 16px;
    padding: .3em;
    background-color: #8e242410;
}

.secao-subtitulo{
    font-family: var(--fonte);
    font-size: 36px;
    font-weight: 600;

}

.descricao{
    font-family: var(--fonte);
    font-size: 20px;
    font-weight:400;
    color: var(--cor-textos);

}

.img-vagas{
    width: 1216px;
    max-height: 400px;
    margin-top: 2em;
    max-width: 100%;
}

